.section{
    background-color: black;
    padding: 70px 105px;
    color: #3f3f3f;
}

.section p{
    margin: 0% 129.5px;
}

.section div{
    display: flex;
    flex-direction: row;
    margin: 0% 8.1rem;
}

.section ul{
    list-style: none;
    padding: 0%;
    margin-right: 4rem;
}
.section li{
    margin-bottom: 0.7rem;
    font-size: smaller;
}